SimpleITK==2.4.1
einops==0.8.1
lightgbm==4.6.0
ml_dtypes==0.5.1
nibabel==5.3.2
opencv-python==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.16.0
optuna==4.2.1
pydantic==2.11.3
pytorch-tabnet==4.1.0
scikit-learn==1.6.1
seaborn==0.13.2
shap==0.47.2
slicer==0.0.8
torch==2.1.2
torchaudio==2.1.2
torchio==0.20.6
torchvision==0.16.2
xgboost==2.1.4